/*
 * Standard styles.
 */

html {
  height: 100%;
}

body {
  background-color: #74aaec;
  color: #fff;
  display: flex;
  font-family: 'Quicksand', sans-serif;
  height: 100%;
  line-height: initial;
  padding: 0 1.25rem;
  word-wrap: break-word;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
 * Helpers.
 */

.fade-in {
  animation: fade-in 2s linear;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hidden {
  display: none;
}

/*
 * Specific styles.
 */

.loader {
  animation: rotate 2s linear infinite;
  border: solid 0.625rem #fff;
  border-top: solid 0.625rem #9cc4ee;
  border-bottom: solid 0.625rem #9cc4ee;
  border-radius: 50%;
  height: 5.9375rem;
  margin: auto;
  width: 5.9375rem;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.weather-panel {
  margin: auto;
  max-width: 33.75rem;
  padding: 3.125rem 0;
  text-align: center;
  width: 100%;
}

.temperature-container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.temperature-container__temperature {
  font-size: 4rem;
}

.temperature-container__unit {
  display: none;
}

.temperature-container__label {
  cursor: pointer;
  padding: 0.3125rem;
}

.temperature-container__label:hover,
.temperature-container__unit:checked + .temperature-container__label {
  border-bottom: solid 0.125rem #fff;
}

.weather-panel__city {
  display: block;
  font-size: 2rem;
  margin-top: 0.625rem;
}

.weather-panel__country {
  display: block;
  font-size: 0.875rem;
}

.weather-panel__current-condition {
  display: block;
  margin-top: 0.625rem;
}

.forecast-table {
  border-collapse: separate;
  border-spacing: 0.3125rem;
  margin-top: 0.625rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 25rem;
  text-align: center;
  width: 100%;  
}

.forecast-table__head {
  font-weight: bold;
}

.forecast-table__cell {
  vertical-align: middle;
}

.error-message {
  margin: auto;
  text-align: center;
}
