/*
  Colours:
  Blue       - ##488ee6
  Light Blue - #74aaec
  White      - #fff
*/

body {
  font-family: 'Quicksand', sans-serif;
  background-color: #488ee6;
  color: #fff;
  padding: 0 0.938em;
  word-wrap: break-word;
}

main {
  margin: 0 auto;
  max-width: 100%;
  min-height: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.fade-in {
  -webkit-animation-name: fade-in;
  animation-name: fade-in;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

@-webkit-keyframes fade-in {
  from {opacity: 0};
  to {opacity: 1};
}

@keyframes fade-in {
  from {opacity: 0};
  to {opacity: 1};
}

@media (min-width: 1200px) {
  main {
    width: 1140px;
  } 
}

@media (min-width: 992px) {
  main {
    width: 960px;
  }
}

@media (min-width: 768px) {
  main {
    width: 720px;
  }
}

@media (min-width: 576px) {
  main {
    width: 540px;
  }
}

#container {
  max-width: 100%;
  width: 100%;
}

/*done up to here*/

/* loader styles */
@media (min-width: 576px) {
  #loader {
    width: 75px;
    height: 75px;
  }
}

@media (max-width: 576px) {
  #loader {
    height: 0;
    padding-bottom: 20%;
    width: 20%;
  }
}

#loader {
  border-radius: 50%;
  border: solid 10px #fff;
  border-top: solid 10px #74aaec;
  border-bottom: solid 10px #74aaec;
  animation-name: rotate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  margin: 50px auto;
}

@keyframes rotate {
  0% {transform: rotate(0deg)}
  100% {transform: rotate(360deg)}
}

/*


#loader {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: solid 10px #fff;
  border-top: solid 10px #74aaec;
  animation-name: rotate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  margin: 50px auto;
}

@keyframes rotate {
  0% {transform: rotate(0deg)}
  100% {transform: rotate(360deg)}
}

.hidden {
  display: none;
}*/

input[type="radio"]:checked + label {
  background-color: white;
  color: #74aaec;
}
  
label, input {
  padding: 10px;
  border-radius: 5px;
}

input[type=radio] {
  display: none;
}

input:hover,
label:hover {
  cursor: pointer;
}

#weather-container {
  background-color: #74aaec;
  padding: 20px;
  margin: 0.938em 0;
}

thead {
  font-weight: bold;
}

.hidden {
  display: none;
}